.foo {
	color: rgb(47, 104, 0);
}

@media (color-gamut: p3) {
.foo {
	color: color(display-p3 0.22705 0.41002 0);
}
}

.bar {
	color: rgb(47, 104, 0);
}

@media (color-gamut: p3) {
.bar {
	color: color(display-p3 0.22703 0.41002 0);
}
}
