.foo {
	color: rgb(69, 121, 58);
	color: lch(46% 40 134.38);
}

.bar {
	color: rgb(48, 125, 0);
	color: color(display-p3 0.26918 0.48311 0.1215);
}

@media (color-gamut: p3) {
.bar {
	color: lab(46% -40 40%);
}
}
