.some-class:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
	color: green;
}

#some-id#some-id {
		color: red;
		background-color: red;
	}

#some-id:not(#\#):not(#\#):not(#\#) {
		color: purple;
		background-color: green;
	}
