name: 'Check if build is ok'
on:
  push:

jobs:
  build:
    name: 'Check if build is ok'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: 'npm'

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '^1.25'

      - run: |
          npm install
          make -j 2

