name: 'Build after Dependabot'
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: 'Build after Dependabot'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: 'npm'
        
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '^1.25'

      - name: make
        run: |
          npm install
          make -j 2

      - name: pages
        run: web-tests-pages

      - name: save
        run: |
          # Git config
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --allow-empty -m "rebuild"
          git push --set-upstream origin ${GITHUB_REF}

