name: 'Collect Context Data'
on:
  schedule:
    - cron: '0 20 * * 0'
  workflow_dispatch:

permissions:
  contents: write

concurrency: 
  group: browserstack

jobs:
  build:
    name: 'Collect Context Data'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
        
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '^1.25'

      - name: make
        run: make scripts -j 2

      - name: collect
        run: |
          web-tests-collect-ua-strings
          web-tests-reset-priority
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: pages
        run: web-tests-pages

      - name: save
        run: |
          # Git config
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --allow-empty -m "collect context data"
          git push --set-upstream origin main

